.Counter {
  width: 100px;
  height: 60px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: "Cabin", sans-serif;
    font-size: 1.3rem;
  }
}
