.Box {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #304859;
  transition: 0.2s ease background;
}

.Selected {
  background-color: #fda214;
}

.Matched {
  background-color: yellowgreen;
}
