.Box {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #304859;
  transition: 0.2s ease all;
}
.Box > * {
  display: none;
}

.Selected {
  background-color: #fda214;
  transform: rotateY(180deg);
}

.Box.Selected > * {
  display: flex;
}

.Matched {
  background-color: yellowgreen;
}

.Box.Matched > * {
  display: flex;
}
